<html>

<head>
    {{form.media}}
</head>

<div id="data" style="display:none;">
    <ul>
        {% for loc in localizacoes %}
        <a class="localizacoes">{{ loc.latitude }}</a>
        <a class="localizacoes">{{ loc.longitude }}</a> {% endfor %}
    </ul>
</div>

{{form.as_p}}

</html>